@import url('https://fonts.googleapis.com/css2?family=Encode+Sans:wght@100..900&display=swap');

*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

a {
  display: inline-block;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

body {
  color: var(--color-main);
  background-color: var(--color-white);
  font-family: 'Encode Sans', sans-serif;
  font-size: 20px;
  font-weight: 300;
  line-height: 1.5;
  margin: 0;
}

.container {
  width: 100%;
  max-width: 1140px;
  margin: 0 auto;
  padding: 0;
  overflow: visible;
}

@media (max-width: 400px) {
  .container {
    padding: 0 20px;
  }
}

.bold {
  font-weight: 700;
}
