.footer {
  margin-top: 700px;
  margin-bottom: 100px;

  &__container {
    display: flex;
    gap: 222px;
  }

  &__logo {
    width: 34px;
  }

  &__nav {
    display: flex;
    flex-direction: column;
    gap: 57px;
  }

  &__store {
    display: flex;
    gap: 14px;
  }

  &__copyrights {
    font-size: 16px;
    font-weight: 500;
    display: block;
  }

  &__link {
    color: var(--color-main);
    font-size: 16px;
    font-weight: 500;
  }

  &__title {
    font-size: 21px;
    color: var(--color-seconary);
  }

  &__nav-menu {
    display: grid;
    grid-template-columns: repeat(3, 1fr) auto;
    gap: 62px;
  }

  &__nav-block {
    width: 95px;
  }

  &__nav-blog {
    width: 140px;
  }

  &__language-block {
    display: flex;
    font-size: 16px;
    font-weight: 500;
  }

  &__language-block img {
    width: 15px;
    height: 15px;
    margin-top: 5px;
    margin-right: 10px;
  }

  &__language {
    margin-right: 21px;
  }

  &__lang-btn {
    cursor: pointer;
  }

  &__copyrights-mob {
    display: none;
  }

  &__language-block-mob {
    display: none;
  }
}

@media (min-width: 340px) and (max-width: 720px) {
  .footer {
    margin-top: 500px;
    margin-bottom: 50px;
    &__container {
      display: block;
    }

    &__nav-menu {
      gap: 32px;
    }

    &__nav-blog {
      width: 100px;
    }

    &__copyrights {
      display: none;
    }

    &__copyrights-mob {
      margin-top: 67px;
      margin-bottom: 57px;
      display: block;
      font-size: 16px;
      font-weight: 500;
    }

    &__language-block {
      display: none;
    }
    &__language {
      margin: 0;
      padding-left: 10px;
    }

    &__language-block-mob {
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 16px;
      font-weight: 500;
    }

    &__block-logo {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    &__store {
      padding-bottom: 44px;
      justify-content: space-between;
    }
  }

  .footer img {
    width: auto;
    height: auto;
    object-fit: contain;
  }
}
