.hero-section {
  padding: 287px 0;
  background-image: url(../img/bckg-hero.jpg);
  background-repeat: no-repeat;
  background-position: center top;
  z-index: -10;
  background-size: cover;
  height: 730px;
  position: relative;
  overflow: visible;
  margin-bottom: 98px;

  &__text {
    color: var(--color-white);
    z-index: 10;
    text-align: center;
    line-height: 1.5;
  }

  &__title {
    font-weight: 500;
    font-size: 30px;
  }

  &__container {
    display: flex;
    justify-content: space-around;
    position: relative;
  }

  &__circle {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 200px;
    height: 200px;
    background-color: rgba(132, 63, 208, 0.5);
    border-radius: 50%;
    transform: translate(-50%, -50%);
    filter: blur(20px);
    opacity: 0;
    animation: pulse 4s infinite;
    z-index: -1;
  }

  @keyframes pulse {
    0% {
      opacity: 0;
      transform: translate(-50%, -50%) scale(0.5);
    }
    50% {
      opacity: 1;
      transform: translate(-50%, -50%) scale(3);
    }
    100% {
      opacity: 0;
      transform: translate(-50%, -50%) scale(0.5);
    }
  }

  &__illustration {
    margin-top: -80px;
  }
}

.hero-section::before,
.hero-section::after {
  position: absolute;
  content: '';
  background-size: 100%;
  background-repeat: no-repeat;
}

.hero-section::before {
  top: 0;
  background-image: url(../img/lines.png);
  width: 1149px;
  height: 529px;
  z-index: -1;
}
.hero-section::after {
  bottom: 0;
  top: 530px;
  background-image: url(../img/line.png);
  width: 100%;
  height: 225px;
  z-index: -1;
}

@media (max-width: 400px) {
  .hero-section {
    padding-top: 90px;

    &__container {
      display: block;
      padding-top: 90px;
    }

    &__text {
      width: 350px;
      margin: 0 auto;
    }

    &__illustration {
      margin-top: 0;
      text-align: center;
      padding-left: 25px;
      margin: 0 auto;
    }
  }
}
