.reviews-section {
  padding-top: 130px;
  position: relative;
  overflow: hidden;

  &__gradient {
    height: 274px;
    width: 1330px;
    background: linear-gradient(180deg, #422e8c 24.09%, #812ad2 100%);
    max-width: none;
    margin: 0 auto;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 18px;
    z-index: -50;
  }

  &__container {
    width: 100%;
    max-width: 2000px !important;
    margin: 0 auto;
    padding: 0;
  }

  &__title {
    display: flex;
    justify-content: space-between;
    padding-bottom: 113px;
  }

  &__buttons {
    display: flex;
    gap: 30px;
  }

  &__list {
    width: 2000px !important;
    display: flex;
    gap: 36px;
    overflow: hidden;
    justify-content: center;
    width: 100%;
    position: relative;
    left: -430px;
    right: 0;
    padding-bottom: 232px;
  }

  &__item {
    width: 486px;
    flex: 0 0 auto;
    background-color: var(--color-white);
    box-shadow: 0px 4px 43.6px 0px #00000040;
    margin-top: 123px;
    border-radius: 24px;
    transition: transform 0.3s ease, height 0.3s ease;
    position: relative;
    height: 256px;
    padding: 0 54px;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.8;
  }

  &__item-long {
    width: 486px;
    flex: 0 0 auto;
    background-color: var(--color-white);
    box-shadow: 0px 4px 43.6px 0px #00000040;
    margin-top: 123px;
    border-radius: 24px;
    transition: transform 0.3s ease, height 0.3s ease;
    position: relative;
    height: 285px;
    padding: 0 54px;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.8;
  }

  &__item img {
    margin-top: -35px;
  }

  &__item-long img {
    margin-top: -35px;
  }

  &__block {
    display: flex;
    justify-content: space-between;
  }

  &__name {
    font-size: 21px;
    margin: 0;
  }

  &__desk {
    font-size: 16px;
    font-weight: 700;
  }
}

@media (max-width: 400px) {
  .reviews-section {
    &__gradient {
      width: 400px;
      height: 163px;
    }

    &__title {
      display: block;
      padding-bottom: 38px;
    }

    &__list {
      width: 352px; /* Переконатися, що ширина в мобільній версії правильна */
      padding-top: 71px;
      padding-bottom: 120px;

    }

    &__item {
      padding: 0 24px;
    }

    &__name {
      font-size: 18px;
      color: var(--color-seconary);
    }

    &__desk {
      font-size: 14px;
    }

    &__item,
    &__item-long {
      width: 352px; /* Ширина картки для мобільних пристроїв */
      margin-top: 0; /* Видалити верхній відступ */
    }

    article p {
      font-size: 14px;
      line-height: 1.8;
    }
  }
}
