.rewiews-section {
  padding-top: 130px;
  position: relative;

  &__gradient {
    height: 274px;
    width: 1330px;
    background: linear-gradient(180deg, #422E8C 24.09%, #812AD2 100%);
    max-width: none;
    margin: 0 auto;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 18px;
    z-index: -50;
  }

  &__container {
    width: 100%;
    max-width: 2000px !important;
    margin: 0 auto;
    padding: 0;
  }

  &__title {
    display: flex;
    justify-content: space-between;
    padding-bottom: 113px;
  }

  &__buttons {
    display: flex;
    gap: 30px;
  }

  &__list {
    display: flex;
    gap: 36px;
    overflow: hidden; /* Приховуємо обрізані частини */
    justify-content: center; /* Вирівнювання по центру */
    width: 100%;
    position: relative;
  }

  &__item {
    width: 486px;
    flex: 0 0 auto;
    background-color: var(--color-white);
    box-shadow: 0px 4px 43.6px 0px #00000040;
    margin-top: 123px;
    border-radius: 24px;
    transition: transform 0.3s ease, height 0.3s ease;
    position: relative;
    height: 256px;
    padding: 0 54px;
  }

  &__item.active {
    height: 285px; /* Центральна картка буде більшою */
  }

  &__item img {
    margin-top: -35px;
  }

  &__block {
    display: flex;
    justify-content: space-between;
  }

  &__name {
    font-size: 21px;
    margin: 0;
  }

  &__desk {
    font-size: 16px;
    font-weight: 700;
  }
}
