.time-section {
  &__container {
    display: flex;
    gap: 383px;
    align-items: center;
    justify-content: space-around;
    overflow: visible;
    position: relative;
  }

  &__text {
    margin: auto;
    width: 367px;
  }

  &__phone {
    flex: 0 0 auto;
  }

  &__img {
    fill: var(--color-white);
    z-index: 4;
    padding-left: 8px;
  }

  &__circle {
    display: block;
    position: absolute;
    top: 50%;
    left: 20%;
    width: 200px;
    height: 200px;
    background-color: #3d2e87;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    filter: blur(40px);
    opacity: 0;
    animation: pulse 4s infinite;
    z-index: -1;
  }

  @keyframes pulse {
    0% {
      opacity: 0;
      transform: translate(-50%, -50%) scale(0.5);
    }
    50% {
      opacity: 1;
      transform: translate(-50%, -50%) scale(3);
    }
    100% {
      opacity: 0;
      transform: translate(-50%, -50%) scale(0.5);
    }
  }
}

@media (max-width: 400px) {
  .time-section {
    display: block;

    &__circle {
      display: none;
    }

    &__phone {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
    }
  }
}
